.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.detail-link {
  color: white;
}

.detail-link:hover {
  text-decoration: none;
  color: white;
}
.detail-img img {
  width: 350px;
  height: 350px;
}

.detail-page {
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  margin: 5px;
}

.link:hover {
  text-decoration: none;
  color: rgb(219, 216, 216)
}

.owned {
  text-align: center;
  margin-top: 15px;
}

.card {
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.158), 0 6px 20px 0 rgba(99, 99, 99, 0.295);
}

.button {
  display: flex;
}

.button Button {
  margin: 2px;
}

.detail {
  align-content: center;
}